#pet-image{
    width: 500px;
}

#adopt-pet-card{
    width: 80%;
    margin: 30px 0px;
    padding: 25px;
    background-color: rgba(135, 168, 37, 0.562);
    border-radius: 10px;
}

#ad-req-title{
    font-family: 'DM Serif Display', serif;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 1px;
    text-align: center;
}

label{
    margin-top: 10px;
}

#req-btn{
    background: #312c26;
    color: white;
}