#add-pet-card{
    width: 60%;
    margin: 25px 0px;
    padding: 25px;
    background-color: rgba(135, 168, 37, 0.562);
    border-radius: 10px;
}

#newpettitle{
    font-family: 'DM Serif Display', serif;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 1px;
    text-align: center;
}

label{
    margin-top: 10px;
}

#AddPetBtn{
    background: #312c26;
    color: white;
}