.addpetform{
    border-top: 2px solid #87a825;
    margin-bottom: 50px;
}

.box2{
    width: 60%;
    background-color: rgba(135, 168, 37, 0.562);
    padding: 25px;
    margin-top: 25px;
    border-radius: 10px;
}

.login-title{
    font-family: 'DM Serif Display', serif;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 1px;
    text-align: center;
}

label{
    margin-top: 10px;
}

#AddPetBtn{
    background: #312c26;
    color: white;
}