

.box{
    width: 40%;
    background-color: rgba(135, 168, 37, 0.562);
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.login-title{
    font-family: 'DM Serif Display', serif;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 1px;
    text-align: center;
}

#loginBtn{
    background: #312c26;
    color: white;
}