#title{
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
}

.card{
    border: 2px solid #87a825;;
}

#pet-img{
    height: 250px;
}


#btn-adopt, #btn-view{
    background: #87a825;
    border: 0;
    color: white;
}

#btn-adopt:hover, #btn-view:hover{
    background: #87a825;
    box-shadow: 1px 1px 3px black;
    color: rgb(0, 0, 0);

}
