#reg-title{
    font-family: 'DM Serif Display', serif;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 1px;
    text-align: center;
}

.box1{
    width:50%;
    background-color: rgba(135, 168, 37, 0.562);
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 10px;
}

label{
    margin-top: 10px;
}

#regBtn{
    background: #312c26;
    color: white;
}
#closeBtn{
    border: 1px solid black;
}
